@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --white: #ffffff;
  --blue: #4169e1;
  --black: #000000;
  --gray-10: #fdfdfd;
  --gray-90: #12141d;
  --yellow: #ffc30e;
  --font-inter: 'Inter', san-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  background: var(--white);
  overflow-x: hidden;
}

/* HEADER */
header {
  position: fixed;
  width: 100%;
  background: var(--white);
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  z-index: 999;
  top: 0;
}

header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

header .container .nav-logo {
  height: 42px;
}

header .container nav {
  position: absolute;
  right: 0;
  top: 80px;
  display: none;
  padding: 4px;
  background: var(--white);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  transform: translateX(100%);
  z-index: 99;
}

header .container nav.active {
  right: 16px;
  transform: translateX(0);
  display: block;
}

header .container nav ul {
  display: flex;
  flex-direction: column;
}

header .container nav ul li {
  list-style: none;
}

header .container nav ul li a {
  padding: 16px;
  display: inline-block;
  text-decoration: none;
  color: var(--blue);
  font-family: var(--font-inter);
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

header .container nav ul li a.active {
  background: var(--blue);
  color: white;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

header .container .btn-menu {
  background: transparent;
  border: none;
  cursor: pointer;
}

header .container .btn-order {
  display: none;
  padding: 8px 16px;
  background: var(--blue);
  border-radius: 10px;
  border: 2px solid var(--blue);
  font-family: var(--font-inter);
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}


/* MAIN*/
main .container {
  max-width: 1440px;
  margin-inline: auto;
  position: relative;
}

/* WHATSAPP ICON */
main .container .whatsapp-icon-container {
  position: sticky;
  bottom: 16px;
  right: 16px;
  margin-left: auto;
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-end;
  width: 48px;
  height: 48px;
  border-radius: 999px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

main .container .whatsapp-icon-container img {
  width: 100%;
  height: 100%;
}

/* HOME SECTION*/
#home {
  position: relative;
  padding-inline: 16px;
  padding-top: 110px;
}

#home .text-content {
  position: relative;
  z-index: 8;
}

#home .text-content h1 {
  font-size: 48px;
  color: var(--black);
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -2%;
  text-align: center;
}

#home .text-content h1 .text-blue {
  color: var(--blue);
}

#home .text-content .description {
  font-size: 18px;
  color: var(--gray-90);
  line-height: 28px;
  text-align: center;
  margin-top: 32px;
  max-width: 626px;
  margin-inline: auto;
}

#home .card-wrapper {
  position: relative;
  z-index: 8;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  max-width: 823px;
  margin-top: 32px;
  padding: 4px;
  border-radius: 16px;
  box-shadow: 0 24px 34px rgba(0, 0, 0, 0.06);
  margin-inline: auto;
}

#home .card-wrapper .card {
  padding: 12px;
  background: var(--gray-10);
  border-radius: 12px;
}

#home .card-wrapper .card h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  font-family: var(--font-inter);
  color: var(--yellow);
}

#home .card-wrapper .card p {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  font-family: var(--font-inter);
  color: var(--blue);
}

#home .btn-wrapper {
  position: relative;
  z-index: 8;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 48px;
}

#home .btn-wrapper button {
  font-family: var(--font-inter);
  font-size: 18px;
  font-weight: 600;
  padding: 12px 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

#home .btn-wrapper button.btn-order {
  color: white;
  background: var(--yellow);
}

#home .btn-wrapper button.btn-seePrice {
  color: var(--blue);
  background: transparent;
}

#home .yellow-blur {
  display: none;
}

#home .blue-blur {
  display: none;
}

#home .home-user-img1 {
  display: none;
}

#home .home-user-img2 {
  display: none;
}

/* VIDEO SECTION*/
#video {
  padding-inline: 16px;
  margin-top: 32px;
}

#video .video-wrapper {
  padding: 8px;
  border-radius: 10px;
  background: var(--white);
  box-shadow: 0 0.67px 0.67px -0.34px rgba(0, 0, 0, 0.34);
  overflow: hidden;
}

#video .video-wrapper .video {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 10px;
  overflow: hidden;
}

#video .video-wrapper img {
  width: 100%;
  height: 100%;
}

/* PERFORMANCE SECTION */
#performance {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 48px 16px;
}

#performance .text-content h2 {
  font-size: 32px;
  font-weight: 600;
  color: var(--black);
  line-height: 48px;
  letter-spacing: -2%;
}

#performance .text-content h2 .text-blue {
  color: var(--blue);
}

#performance ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

#performance ul li {
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 8px;
}

#performance ul li p {
  font-size: 20px;
  line-height: 30px;
  color: var(--black);
}

#performance .info-wrapper {
  margin-top: 32px;
  padding: 24px;
  background: rgba(255, 195, 14, 0.1);
  border-left: 3px solid var(--yellow);
}

#performance .info-wrapper p {
  font-size: 20px;
  line-height: 30px;
  color: var(--black);
}

#performance .video-wrapper {
  width: 100%;
  height: 438px;
  padding: 16px;
  border-radius: 24px;
  background: var(--blue);
}

#performance .video-wrapper img {
  width: 100%;
  height: 100%;
}

/* FEATURES SECTION */
#features {
  padding-inline: 16px;
}

#features h2 {
  font-size: 32px;
  font-weight: 600;
  color: var(--black);
  line-height: 48px;
  letter-spacing: -2%;
  text-align: center;
}

#features .features-wrapper {
  display: grid;
  gap: 64px;
  margin-top: 32px;
}

#features .features-wrapper .card-feature {
  padding: 32px 0 32px 16px;
  border-left: 1px dashed var(--black);
}

#features .features-wrapper .card-feature h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 35px;
  color: var(--gray-90);
}

#features .features-wrapper .card-feature .feature-heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 35px;
  color: var(--blue);
  margin-top: 8px;
}

#features .features-wrapper .card-feature ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 12px;
}

#features .features-wrapper .card-feature ul li {
  list-style: none;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-90);
}

#features .gradient-line {
  display: none;
}

/* USER SECTION */
#users {
  position: relative;
  padding: 48px 16px;
}

#users .text-content {
  position: relative;
  padding-inline: 26px;
  margin-inline: auto;
  z-index: 2;
}

#users .text-content h2 {
  font-size: 32px;
  font-weight: 600;
  color: var(--black);
  line-height: 48px;
  letter-spacing: -2%;
  text-align: center;
}

#users .text-content h2 br {
  display: none;
}

#users .text-content p {
  font-size: 18px;
  line-height: 28px;
  color: var(--gray-90);
  text-align: center;
  margin-top: 16px;
  margin-inline: auto;
}

#users .user-chat {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-top: 24px;
  padding: 26px 16px;
  z-index: 2;
}

#users .user-chat .chat-wrapper {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

#users .user-chat .chat-wrapper-2 {
  display: none;
}

#users .user-chat .bottom-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 1));
}

#users .yellow-blur {
  display: none;
}

#users .blue-blur {
  display: none;
}

/* CARDS SECTION */
#cards {
  padding: 80px 70px;
}

#cards .cards-wrapper {
  display: grid;
  gap: 36px;
}

#cards .cards-wrapper .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 12px;
  background: var(--white);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

#cards .cards-wrapper .card .icon-container {
  position: relative;
  top: -38px;
  display: grid;
  place-items: center;
  width: 64px;
  height: 64px;
  border-radius: 999px;
  background: var(--blue);
}

#cards .cards-wrapper .card p {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: var(--black);
  text-align: center;
}

#cards .cards-wrapper .card-2 {
  background: var(--blue);
  box-shadow: none;
}

#cards .cards-wrapper .card-2 .icon-container {
  background: #d7e8ff;
}

#cards .cards-wrapper .card-2 p {
  color: var(--white);
}

/* PRICING SECTION */
#pricing {
  position: relative;
  padding: 48px 16px;
}

#pricing .text-content-heading {
  position: relative;
  padding-inline: 26px;
  z-index: 2;
}

#pricing .text-content-heading h2 {
  font-size: 32px;
  font-weight: 600;
  color: var(--black);
  line-height: 48px;
  letter-spacing: -2%;
  text-align: center;
}

#pricing .text-content-heading p {
  font-size: 20px;
  line-height: 30px;
  color: var(--gray-90);
  text-align: center;
  margin-top: 16px;
  margin-inline: auto;
}

#pricing .pricing-card-wrapper {
  display: grid;
  gap: 32px;
  margin-top: 54px;
}

#pricing .pricing-card-wrapper .card {
  position: relative;
  background: var(--white);
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  border: 1px solid #e9eaeb;
  z-index: 2;
}

#pricing .pricing-card-wrapper .card .top-content {
  padding: 32px;
  border-bottom: 1px solid #e9eaeb;
}

#pricing .pricing-card-wrapper .card .top-content .text-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#pricing .pricing-card-wrapper .card .top-content .text-content .heading {
  display: flex;
  justify-content: space-between;
}

#pricing .pricing-card-wrapper .card .top-content .text-content .heading p {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: var(--gray-90);
}

#pricing .pricing-card-wrapper .card .top-content .text-content .heading div {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--blue);
  padding: 4px 12px;
  border: 1px solid var(--gray-10);
  border-radius: 99px;
  background-color: rgba(65, 105, 225, 0.1);
}

#pricing .pricing-card-wrapper .card .top-content .text-content .price {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -2%;
  color: var(--black);
}

#pricing .pricing-card-wrapper .card .top-content .text-content .price span {
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -2%;
  color: var(--gray-90);
  text-decoration: line-through;
}

#pricing .pricing-card-wrapper .card .top-content .text-content .description {
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-90);
}

#pricing .pricing-card-wrapper .card .top-content .btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  align-items: center;
  margin-top: 32px;
}

#pricing .pricing-card-wrapper .card .top-content .btn-container button {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  width: 100%;
  padding-block: 12px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

#pricing .pricing-card-wrapper .card .top-content .btn-container .btn-get-started {
  color: var(--black);
  background: var(--yellow);
  border: 1px solid rgba(255, 195, 14, 0.12);
}

#pricing .pricing-card-wrapper .card .top-content .btn-container .btn-chat {
  color: var(--gray-90);
  background: var(--white);
  border: 1px solid #d5d7da;
}

#pricing .pricing-card-wrapper .card .features-container {
  padding: 32px;
}

#pricing .pricing-card-wrapper .card .features-container .features-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: var(--black);
}

#pricing .pricing-card-wrapper .card .features-container .features-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}

#pricing .pricing-card-wrapper .card .features-container .features-wrapper li {
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}

#pricing .pricing-card-wrapper .card .features-container .features-wrapper li p {
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-90);
}

#pricing .pricing-card-wrapper .card .addons-container {
  padding: 32px;
}

#pricing .pricing-card-wrapper .card .addons-container .addons-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: var(--black);
}

#pricing .pricing-card-wrapper .card .addons-container .addons-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}

#pricing .pricing-card-wrapper .card .addons-container .addons-wrapper li {
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}

#pricing .pricing-card-wrapper .card .addons-container .addons-wrapper li p {
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-90);
}

#users .yellow-blur {
  display: none;
}

#users .blue-blur {
  display: none;
}

/* HOW IT WORKS SECTION */
#how-it-works {
  padding: 0 16px;
}

#how-it-works .text-content h2 {
  font-size: 32px;
  font-weight: 600;
  color: var(--black);
  line-height: 48px;
  letter-spacing: -2%;
  text-align: center;
}

#how-it-works .text-content p {
  font-size: 18px;
  line-height: 28px;
  color: var(--gray-90);
  text-align: center;
  margin-top: 8px;
  margin-inline: auto;
}

#how-it-works .vertical-step {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 24px;
}

#how-it-works .vertical-step .line {
  position: relative;
  left: 21px;
  z-index: 1;
}

#how-it-works .vertical-step ul {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 48px;
  z-index: 2;
}

#how-it-works .vertical-step ul li {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4px;
}

#how-it-works .vertical-step ul li .number {
  font-size: 34px;
  font-weight: 600;
  color: #a9a9a966;
}

#how-it-works .vertical-step ul li .text {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: var(--gray-90);
  max-width: 188px;
}

#how-it-works .image-container {
  width: 100%;
  height: 518px;
  border-radius: 16px;
  margin-top: 32px;
  max-width: 425px;
  box-shadow: 20px 20px var(--blue);
}

#how-it-works .image-container img {
  border-radius: 16px;
  width: 100%;
  height: 518px;
  max-width: 425px;
  object-fit: cover;
}

#how-it-works .custom-step {
  display: none;
}

/* WHY CHOOSE US SECTIOPN */
#why-choose-us {
  position: relative;
  padding: 48px 16px;
}

#why-choose-us h2 {
  font-size: 32px;
  font-weight: 600;
  color: var(--black);
  line-height: 48px;
  letter-spacing: -2%;
  text-align: center;
}

#why-choose-us .content-wrapper {
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#why-choose-us .content-wrapper .card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

#why-choose-us .content-wrapper .card-container .card {
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}

#why-choose-us .content-wrapper .card-container .card .icon-container {
  display: grid;
  place-items: center;
  width: 44px;
  height: 44px;
  background: var(--blue);
  border-radius: 99px;
}

#why-choose-us .content-wrapper .card-container .card p {
  margin-top: 12px;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: var(--gray-90);
}

#why-choose-us .content-wrapper .img-container {
  padding: 0 28px;
}

#why-choose-us .content-wrapper .img-container img {
  width: 100%;
}

#why-choose-us img.ellipse1,
#why-choose-us img.ellipse2 {
  display: none;
}

/* PLACE ORDER SECTION */
#place-order {
  padding: 48px 16px;
}

#place-order .text-content h2 {
  font-size: 32px;
  font-weight: 600;
  color: var(--black);
  line-height: 48px;
  letter-spacing: -2%;
  text-align: center;
}

#place-order .text-content p {
  font-size: 18px;
  line-height: 28px;
  color: var(--gray-90);
  text-align: center;
  margin-top: 8px;
  margin-inline: auto;
}

#place-order .form-container {
  display: grid;
  gap: 24px;
  margin-top: 48px;
  max-width: 1104px;
  margin-inline: auto;
}

#place-order .form-container .file-input-container .upload-box {
  display: grid;
  place-items: center;
  height: 350px;
  border: 1px solid #e9eaeb;
  padding: 16px 24px;
  border-radius: 16px;
  margin-bottom: 15px;
  cursor: pointer;
}

#place-order .form-container .file-input-container .upload-box img {
  display: block;
  margin-inline: auto;
}

#place-order .form-container .file-input-container .upload-box p {
  font-family: var(--font-inter);
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  margin-top: 12px;
  color: var(--gray-90);
}

#place-order .form-container .file-input-container .upload-box p span {
  color: var(--blue);
}

#place-order .form-container .input-group-container .input-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-bottom: 16px;
}

#place-order .form-container .input-group-container label,
#place-order .form-container .input-group-container .input-group label {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  font-family: var(--font-inter);
  color: var(--black);
}

#place-order .form-container .input-group-container .input-group label span {
  color: var(--blue);
}

#place-order .form-container .input-group-container .input-group input {
  display: inline-block;
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #d5d7da;
  border-radius: 8px;
  margin-top: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

#place-order .form-container .input-group-container .input-group select {
  display: inline-block;
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #d5d7da;
  border-radius: 8px;
  margin-top: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

#place-order .form-container .input-group-container textarea {
  display: inline-block;
  width: 100%;
  height: 115px;
  padding: 12px 14px;
  border: 1px solid #d5d7da;
  border-radius: 8px;
  margin-top: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

#place-order .form-container .input-group-container .btn {
  background: #ffc107;
  color: var(--black);
  padding: 12px 18px;
  border: none;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 24px;
}

#place-order .form-container .input-group-container .btn:hover {
  background: #e0a800;
}

#place-order .form-container .input-group-container .payment {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  margin-top: 27px;
}

#place-order .form-container .input-group-container .payment p {
  font-size: 12px;
  line-height: 18px;
  color: #717680;
}

/* FOOTER */
footer {
  background: var(--blue);
  padding: 32px 16px;
}

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

footer .container .logo {
  height: 80px;
}

footer .container ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

footer .container ul li {
  list-style: none;
}

footer .container ul li a {
  font-family: var(--font-inter);
  font-size: 16;
  font-weight: 600;
  line-height: 24px;
  color: var(--white);
  text-decoration: none;
}

footer .container .copyright p {
  font-family: var(--font-inter);
  font-size: 16;
  line-height: 24px;
  color: var(--white);
}

@media (min-width: 768px) {
  /* HEADER */
  header {
    border-bottom: none;
    padding-top: 32px;
    padding-inline: 32px;
  }

  header .container {
    padding: 0;
  }

  header .container .nav-logo {
    height: 64px;
  }

  header .container nav {
    display: block;
    position: inherit;
    transform: translateX(0);
    top: 0;
    box-shadow: 0 12px 24px rgba(30, 140, 125, 0.16);
  }

  header .container nav ul {
    flex-direction: row;
    gap: 16px;
  }

  header .container nav ul li a {
    padding: 8px 12px;
  }

  header .container .btn-menu {
    display: none;
  }

  header .container .btn-order {
    display: block;
  }

  header.scrolled {
    border-bottom: none;
    padding-top: 5px;
    padding-inline: 32px;
  }
  header.scrolled .container {
    padding: 8px 16px;
  }
  header.scrolled .nav-logo {
    height: 36px;
  }
  header.scrolled .container .btn-order {
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 600;
  }

  /* WHATSAPP ICON */
  main .container .whatsapp-icon-container {
    position: sticky;
    bottom: 32px;
    right: 32px;
    margin-left: auto;
    margin-bottom: 32px;
    display: flex;
    justify-content: flex-end;
    width: 84px;
    height: 84px;
  }

  /* HOME SECTION*/
  #home {
    margin-top: 70px;
  }

  #home .text-content h1 {
    font-size: 60px;
    line-height: 72px;
  }

  #home .text-content .description {
    font-size: 20px;
    line-height: 30px;
  }

  #home .card-wrapper {
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin-top: 56px;
  }

  #home .btn-wrapper {
    margin-top: 64px;
  }

  #home .yellow-blur {
    display: block;
    position: absolute;
    top: 132px;
    right: 56px;
    width: 172px;
    height: 269px;
    border-radius: 100%;
    background: rgba(255, 195, 14, 0.4);
    filter: blur(100px);
    z-index: 1;
  }

  #home .blue-blur {
    display: block;
    position: absolute;
    top: 179px;
    left: 12px;
    width: 172px;
    height: 269px;
    border-radius: 100%;
    background: rgba(65, 105, 225, 0.4);
    filter: blur(100px);
    z-index: 1;
  }

  #home .home-user-img1 {
    display: block;
    position: absolute;
    top: 202px;
    right: 26px;
    z-index: 2;
  }

  #home .home-user-img2 {
    display: block;
    position: absolute;
    top: 256px;
    left: 10px;
    z-index: 2;
  }

  /* VIDEO SECTION*/
  #video {
    padding-inline: 32px;
    margin-top: 50px;
  }

  /* PERFORMANCE SECTION */
  #performance {
    flex-direction: row;
    align-items: center;
    padding: 80px 32px;
  }

  #performance .text-content {
    flex: 1;
  }

  #performance .text-content ul {
    margin-top: 48px;
  }

  #performance .text-content .info-wrapper {
    margin-top: 32px;
  }

  #performance .video-wrapper {
    flex: 1;
  }

  /* FEATURES SECTION */
  #features {
    position: relative;
    padding: 80px 0px;
  }

  #features h2 {
    font-size: 48px;
    line-height: 64px;
  }

  #features .features-wrapper {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 48px;
    margin-inline: 32px;
    z-index: 2;
  }

  #features .features-wrapper .card-feature {
    padding: 8px 0 8px 16px;
  }

  #features .features-wrapper .card-feature .feature-heading {
    margin-top: 55px;
  }

  #features .gradient-line {
    position: absolute;
    top: 240px;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-inline: 16px;
    z-index: 1;
  }

  #features .gradient-line .line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 37px;
    padding-inline: 20px;
    border-radius: 8px;
    background-image: linear-gradient(90deg, var(--yellow), var(--blue));
  }

  /* USER SECTION */
  #users {
    padding: 80px 32px;
  }

  #users .text-content h2 {
    font-size: 48px;
    line-height: 64px;
  }

  #users .text-content h2 br {
    display: block;
  }

  #users .user-chat {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 54px;
    padding: 26px;
  }

  #users .user-chat .chat-wrapper img {
    width: 100%;
  }

  #users .user-chat .chat-wrapper-2 {
    display: none;
  }

  #users .user-chat .bottom-gradient {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1));
  }

  /* CARDS SECTION */
  #cards {
    padding: 80px 46px;
  }

  #cards .cards-wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  /* PRICING SECTION */
  #pricing {
    padding: 80px 32px;
  }

  #pricing .text-content-heading {
    padding-inline: 0px;
  }

  #pricing .text-content-heading h2 {
    font-size: 48px;
    line-height: 64px;
  }

  #pricing .text-content-heading p {
    max-width: 640px;
  }

  #pricing .pricing-card-wrapper .card .top-content .btn-container {
    flex-direction: row;
  }

  #pricing .pricing-card-wrapper .card .features-container {
    padding: 32px;
  }

  #pricing .pricing-card-wrapper .card .features-container .features-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #pricing .pricing-card-wrapper .card .addons-container .addons-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /* HOW IT WORKS SECTION */
  #how-it-works {
    padding: 80px 32px;
  }

  #how-it-works .text-content h2 {
    font-size: 48px;
    line-height: 64px;
  }

  #how-it-works .text-content p {
    font-size: 20px;
    line-height: 30px;
  }

  #how-it-works .vertical-step {
    display: none;
  }

  #how-it-works .image-container {
    display: none;
  }

  #how-it-works .custom-step {
    display: block;
    margin-top: 44px;
  }

  #how-it-works .custom-step img {
    width: 100%;
  }

  /* WHY CHOOSE US SECTIOPN */
  #why-choose-us {
    padding: 80px 32px;
  }

  #why-choose-us h2 {
    font-size: 48px;
    line-height: 64px;
  }

  #why-choose-us .content-wrapper {
    flex-direction: row;
    align-items: center;
  }

  #why-choose-us .content-wrapper div:nth-child(1) {
    order: 2;
  }

  #why-choose-us .content-wrapper .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  #why-choose-us .content-wrapper .card-container .card {
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 16px;
  }

  #why-choose-us .content-wrapper .card-container .card .icon-container {
    display: grid;
    place-items: center;
    width: 44px;
    height: 44px;
    background: var(--blue);
    border-radius: 99px;
  }

  #why-choose-us .content-wrapper .card-container .card p {
    margin-top: 12px;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: var(--gray-90);
  }

  #why-choose-us .content-wrapper .img-container {
    padding: 0;
  }

  #why-choose-us .content-wrapper .img-container img {
    width: 352px;
  }

  #why-choose-us img.ellipse1 {
    display: inline-block;
    position: absolute;
    bottom: -60px;
    left: 0;
  }

  #why-choose-us img.ellipse2 {
    display: inline-block;
    position: absolute;
    top: -60px;
    right: 0;
  }

  /* PLACE ORDER SECTION */
  #place-order {
    padding: 80px 32px;
  }

  #place-order .text-content h2 {
    font-size: 48px;
    line-height: 64px;
  }

  #place-order .text-content p {
    font-size: 20px;
    line-height: 30px;
  }

  #place-order .form-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* FOOTER */
  footer {
    padding: 48px 32px;
  }

  footer .container {
    flex-direction: row;
    justify-content: space-between;
  }

  footer .container .logo {
    height: 80px;
  }

  footer .container ul {
    display: flex;
    gap: 32px;
  }
}

@media (min-width: 1024px) {
  /* HOME */
  #home .yellow-blur {
    right: 56px;
    width: 242px;
  }

  #home .blue-blur {
    left: 8px;
    width: 242px;
  }

  #home .home-user-img1 {
    right: 68px;
  }

  #home .home-user-img2 {
    left: 36px;
  }

  /* VIDEO */
  #video {
    padding-inline: 104px;
    margin-top: 58px;
  }

  /* PERFORMANCE SECTION */
  #performance {
    padding: 80px;
  }

  #performance .text-content h2 {
    font-size: 48px;
  }

  /* FEATURES SECTION */
  #features {
    padding: 80px 80px;
  }

  #features .features-wrapper {
    margin-inline: 0;
  }

  #features .gradient-line {
    padding-inline: 64px;
  }

  /* USER SECTION */
  #users {
    padding: 80px 104px;
  }

  #users .text-content p {
    max-width: 996px;
  }

  #users .user-chat {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 54px;
    padding: 26px;
  }

  #users .user-chat .chat-wrapper img {
    width: 100%;
  }

  #users .user-chat .chat-wrapper-1 {
    padding-top: 32px;
  }
  #users .user-chat .chat-wrapper-2 {
    display: flex;
  }
  #users .user-chat .chat-wrapper-3 {
    padding-top: 32px;
  }

  #users .user-chat .bottom-gradient {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1));
  }

  #users .yellow-blur {
    display: block;
    position: absolute;
    top: 380px;
    right: 56px;
    width: 242px;
    height: 269px;
    border-radius: 100%;
    background: rgba(255, 195, 14, 0.4);
    filter: blur(100px);
    z-index: 1;
  }

  #users .blue-blur {
    display: block;
    position: absolute;
    top: 500px;
    left: 12px;
    width: 242px;
    height: 269px;
    border-radius: 100%;
    background: rgba(65, 105, 225, 0.4);
    filter: blur(100px);
    z-index: 1;
  }

  /* CARDS SECTION */
  #cards {
    padding: 80px 207px;
  }

  #cards .cards-wrapper {
    gap: 34px;
  }

  /* PRICING SECTION */
  #pricing {
    padding: 80px 112px;
  }

  #pricing .text-content-heading {
    padding-inline: 0px;
  }

  #pricing .text-content-heading h2 {
    font-size: 48px;
    line-height: 64px;
  }

  #pricing .text-content-heading p {
    max-width: 640px;
  }

  #pricing .pricing-card-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  #pricing .pricing-card-wrapper .card .top-content .btn-container {
    flex-direction: column;
  }

  #pricing .pricing-card-wrapper .card .features-container .features-wrapper {
    grid-template-columns: 1fr;
  }

  #pricing .pricing-card-wrapper .card .addons-container .addons-wrapper {
    grid-template-columns: 1fr;
  }

  #pricing .yellow-blur {
    display: block;
    position: absolute;
    top: 580px;
    right: 56px;
    width: 242px;
    height: 269px;
    border-radius: 100%;
    background: rgba(255, 195, 14, 0.4);
    filter: blur(100px);
    z-index: 1;
  }

  #pricing .blue-blur {
    display: block;
    position: absolute;
    top: 680px;
    left: 12px;
    width: 242px;
    height: 269px;
    border-radius: 100%;
    background: rgba(65, 105, 225, 0.4);
    filter: blur(100px);
    z-index: 1;
  }

  /* WHY CHOOSE US SECTIOPN */
  #why-choose-us {
    padding: 80px;
  }

  #why-choose-us h2 {
    text-align: start;
  }

  #why-choose-us .content-wrapper {
    flex-direction: row;
    align-items: center;
    gap: 80px;
  }

  #why-choose-us .content-wrapper div:nth-child(1) {
    order: 2;
  }

  #why-choose-us .content-wrapper .card-container {
    gap: 24px;
  }

  #why-choose-us .content-wrapper .card-container .card p {
    font-size: 20px;
    line-height: 30px;
  }

  #why-choose-us .content-wrapper .img-container img {
    width: min-max(352px, 464px);
    width: 100%;
  }

  #why-choose-us img.ellipse1 {
    display: inline-block;
    position: absolute;
    bottom: -60px;
    left: 0;
  }

  #why-choose-us img.ellipse2 {
    display: inline-block;
    position: absolute;
    top: -60px;
    right: 0;
  }

  /* PLACE ORDER SECTION */
  #place-order {
    padding: 80px;
  }

  /* FOOTER */
  footer {
    padding: 48px 112px;
  }
}
